@media (min-width: 500px) {
  .card__stats {
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    padding: 0 1.2rem;
    width: 60%;
    margin: 1rem auto 1.2rem;
  }
  .body {
    min-height: 280px;
    padding: 1.5rem;
  }
  .card__body {
    padding: 1.5rem;
  }
}

@media (min-width: 880px) {
  .card {
    display: flex;
    min-height: 500px;
  }
  .card__title {
    font-size: 2.2rem;
  }
  .header__img {
    order: 1;
    width: 50%;
  }
  .body {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
  }
  .body div {
    max-width: 450px;
    margin: 0 1.5rem;
  }
  .card__stats {
    justify-content: flex-start;
    width: 100%;
    margin: 2.8rem 0;
  }

  .card__title,
  .card__body,
  .card__stat {
    text-align: left;
  }
}
